/*-------------------------- common-style-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
main{
    margin-left: 50px;
    margin-right: 50px;
}
/*------------------- nav-style---------------- */
.website-title{
    color: #3A3A3A;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: #3A3A3A;
}
.special{
    padding: 5px;
    font-size: 20px;
    color: #3A3A3A;
}
/* ------------------------------------------prebook-style------------------------- */
.prebook{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.new-title{
    font-weight: 700;
    font-size: 52px;
    width: 582px;
    height: 133px;
    color: #3A3A3A;
}
.blog-word{
    color: #3A3A3A;
    width: 750px;
}
.prebook-image:hover{
    transform: scale(1.1);
}
.prebook-image{
    background-image: url(images/Circle\ design.svg);
    background-size: 420px;
    background-repeat: no-repeat;
    padding-right: 15px;
    transition-duration: 1s;
}
button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}
/* }logosside */
.logos{
    padding-left: 400px;
}
.icons{
    margin-bottom: 50px;
    color: white;
}
/*------------------------------------------ products------------------------------ */
.sell-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 16px;
    justify-items: center;
    margin-top: 20px;
}
.title{
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    color: #3A3A3A;
}
.product-title{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}
.fa-star.filled{
    color: yellow;
}
.fa-star.empty{
    color: gray;
}
.product-info{
   width: 329px;
   box-shadow: 30px 10px 10px rgb(0 0 0 / 0.2);
}

.container{
    padding: 16px;
}
.see-info{
    color: crimson;
    font-size: 20px;
}
.new{
    display: flex;
    justify-content: space-between;
}
.white-color{
    color: white;
}
/*--------------------------------------- special-section------------------------------------------------- */
.special-sec{
    display: flex;
    justify-content: center;
   margin-top: 50px;
}
.special-things{
    width: 610px;
    padding-left:250px;
}
.special-title{
    font-size: 38px;
}
/* --------------------------Footer--------------------------- */
footer{
    background-color: rgb(3, 3, 61);
    color: white;
    text-align: center;
}
/* ---------------------Media Queries--------------------- */

/* --------------Mobile Devices--------------------- */
@media only screen and(max-width:688px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .new-title{
        height: 133px;
    color: #3A3A3A;
    }
    .prebook-image{
        background-image: linear-gradient(white,white);
    }
    .icons{
        padding: 0%;
    }
    .sell-products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 18px;
        margin-top: 20px;
        align-content: stretch;
        justify-content: space-around;
    }
.special-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-image img{
    width: 98%;
}
.special-things {
    width: 610px;
    padding-left: 250px;
}
.special-title {
    font-size: 20px;
}

    
}
